---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
   pageTitle="What we do"
   pageDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, cupiditate. Sit consequuntur, quas voluptate quidem facere ipsum doloremque! Possimus deserunt eos voluptatibus molestias, minima id dolorum excepturi doloremque odit repudiandae?"
>
   <section id="what" class="section is-medium">
      <div class="container">
         <div class="columns is-centered mb-6">
            <div class="column is-6">
               <h3 class="title is-3 f-normal has-text-centered">Our Work</h3>
            </div>
         </div>

         <div class="columns is-centered">
            <div class="column is-4">
               <figure class="image is-16by9">
                  <img src="/img/work/work (1).webp" alt="" />
               </figure>
            </div>
            <div class="column is-4">
               <figure class="image is-16by9">
                  <img src="/img/work/work (2).webp" alt="" />
               </figure>
            </div>
            <div class="column is-4">
               <figure class="image is-16by9">
                  <img src="/img/work/work (3).webp" alt="" />
               </figure>
            </div>
         </div>

         <div class="columns is-centered">
            <div class="column is-4">
               <figure class="image is-16by9">
                  <img src="/img/work/work (4).webp" alt="" />
               </figure>
            </div>
            <div class="column is-4">
               <figure class="image is-16by9">
                  <img src="/img/work/work (5).webp" alt="" />
               </figure>
            </div>
            <div class="column is-4">
               <figure class="image is-16by9">
                  <img src="/img/work/work (6).webp" alt="" />
               </figure>
            </div>
         </div>
      </div>
   </section>
</BaseLayout>
