<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand mt-4-desktop pt-4 mb-2 ml-2">
    <a class="navbar-item no-bg" href="/">
      <img src="/img/griffen-logo.png" class="logo-image" width="40" height="40" alt="">
      <h2 class="is-size-4 is-size-5-mobile">
        Griffen Construction
      </h2>
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbar-id"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-id" class="navbar-menu mt-4 mb-2">
    <div class="navbar-end mr-4">
      <a href="/who" class="navbar-item tertiary-color"> Who we are</a>
      <a href="/what" class="navbar-item tertiary-color"> What we do</a>
      <a href="/contact" class="navbar-item tertiary-color"> Contact</a>
    </div>
  </div>
</nav>

<script>
  function scroll() {
    const navbar= document.querySelector('.navbar')
    if (window.scrollY >= 100) {
      navbar.classList.add('is-transparent')
    } else {
      navbar.classList.remove('is-transparent')
    }
  }

  function openBurger() {
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll(".navbar-burger"),
      0,
    );

    $navbarBurgers.forEach((element) => {
      element.addEventListener("click", () => {
        const target = element.dataset.target;
        const $target = document.getElementById(target) as HTMLElement;

        element.classList.toggle("is-active");

        $target!.classList.toggle("is-active");
      });
    });
  }

  document.addEventListener("DOMContentLoaded", () => {
    openBurger()
    scroll()
    });

    window.addEventListener("scroll", scroll);

</script>

<style>
  .no-bg:hover {
    background-color: transparent !important;
  }
</style>
