---
import Button from "../components/Button.astro";
---

<section id="what" class="section is-medium">
   <div class="container">
      <div class="columns is-centered mb-6">
         <div class="column is-6">
            <h3 class="title is-3 f-normal has-text-centered">
               Our Work
            </h3>
         </div>
      </div>

      <div class="columns is-centered">
         <div class="column is-4">
            <figure class="image is-16by9">
               <img src="/img/work/work (1).webp" alt="">
            </figure>
         </div>
         <div class="column is-4">
            <figure class="image is-16by9">
               <img src="/img/work/work (2).webp" alt="">
            </figure>
         </div>
         <div class="column is-4">
            <figure class="image is-16by9">
               <img src="/img/work/work (3).webp" alt="">
            </figure>
         </div>
      </div>

      <div class="columns is-centered">
         <div class="column is-4">
            <figure class="image is-16by9">
               <img src="/img/work/work (4).webp" alt="">
            </figure>
         </div>
         <div class="column is-4">
            <figure class="image is-16by9">
               <img src="/img/work/work (5).webp" alt="">
            </figure>
         </div>
         <div class="column is-4">
            <figure class="image is-16by9">
               <img src="/img/work/work (6).webp" alt="">
            </figure>
         </div>
      </div>
   </div>
</section>
