---
import Button from "../components/Button.astro";
---

<section id="who" class="section is-medium">
   <div class="container">
      <div class="columns is-centered mb-6">
         <div class="column is-8">
            <div class="content">

               <h2 class="title has-text-centered">Who we are</h2>
               <p class="is-size-5">
                  I am Ricky Quadri, co-founder of our pioneering construction
                  firm, blending state-of-the-art practices with deep business
                  acumen to redefine luxury construction. My contributions to
                  iconic projects, like the Aston Martin Residences, highlight
                  my commitment to excellence and innovation, a philosophy
                  cultivated from my early career as a financial manager,
                  emphasizing operational efficiency and precision. My passion
                  extends beyond traditional construction, enriched by global
                  architectural explorations and a keen interest in merging
                  classic craftsmanship with contemporary design. This is
                  complemented by my background in event planning, which has
                  fine-tuned my project management skills and creative
                  problem-solving, ensuring every project inaugurates a lasting
                  legacy.
               </p>

               <p class="is-size-5">
                  My fascination with automobiles and technology underscores my
                  professional ethos, where design elegance and creative joy
                  meet sustainable and innovative construction solutions. Rooted
                  in a Business Administration background and augmented by
                  ongoing Construction Management studies, my career is a
                  testament to lifelong learning and leadership. Alongside my
                  father, our vision is to not just erect buildings but to
                  create inspiring, environmentally integrated environments that
                  stand as testaments to our commitment to excellence and
                  sustainability. We invite you to join us in this journey,
                  where dreams are built, and legacies are crafted, hand in
                  hand.
               </p>

               <p class="is-size-5">
                  Richard Quadri, with dual USA and EU citizenship, specializes
                  in high-end residential and yacht construction. My expertise
                  is based on a solid foundation in Naval Shipbuilding and Civil
                  Engineering, coupled with my experience as a Florida Certified
                  General Contractor and LEED associate since 1997. I have led
                  projects across North America, Europe, and South America,
                  focusing on delivering excellence, innovation, and
                  sustainability in construction.
               </p>

               <p class="is-size-5">
                  As a leader, I prioritize trust and professional development,
                  guiding teams in executing significant projects and mentoring
                  professionals globally. My work includes collaborations with
                  Coastal Homes & Interiors and the creation of prestigious
                  residences, demonstrating my ability to translate visionary
                  concepts into reality while contributing positively to
                  communities. I invite business professionals and developers to
                  partner in crafting not just buildings, but legacies of
                  quality and luxury.
               </p>
            </div>
         </div>
      </div>

      <div class="columns is-variable is-centered">
         <div class="column is-6-desktop">
            <a href="#contact"
               ><Button
                  size="is-large"
                  bgColor="is-primary is-light"
                  label="Contact us"
               /></a
            >
         </div>
      </div>
   </div>
</section>
